.jumbotron {
	color: black;
    background-size: cover;
    background-image: url(../img/home.jpg);
    width: 80%;
    margin-top: 50px;
}

.thumbnail{
    height: 300px;
    background-size: cover;
    border-color: white;
}
.thumbnail p{
	margin-top: 120px;
	font-size: 18px;
}
.thumbnail:hover{
	color: green;
}



.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    text-decoration: none;
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #068D67;
}

/* Twitter */
.fa-twitter {
    background: white;
    color: #068D67;
}
.fa-instagram {
    background: white;
    color: #068D67;
}

/* Twitter */
.fa-youtube {
    background: white;
    color: #068D67;
}
.fa-chevron-circle-right{

    color: #068D67;
}
